

.fo {
    margin-top: -80px;
    clear: both;
}

.footer-display {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 16px 'Poppins';
    padding: 10px 10px 10px 10px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
}

.footer-display .footer-left, .footer-display .footer-center, .footer-display .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-display .footer-left {
    width: 30%;
}

.footer-display h1 {
    color: #ffffff;
    font: normal 36px 'Poppins', cursive;
    margin: 0;
}


.footer-display h1 span {
    color: #e0ac1c;
    font-family: 'Poppins';
    font: normal 36px 'Poppins', cursive;
}

.footer-display .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-display .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-display .footer-library-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-display .footer-center {
    width: 35%;
    padding-top: 20px;
}

.footer-display .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-display .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-display .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-display .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-display .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

.footer-display .footer-right {
    width: 30%;
}

.footer-display .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-display .footer-find-course span {
    display: block;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-display .footer-icons {
    margin-top: 1px;
}

/* img, svg{
    display: initial;
} */

.footer-display .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-display .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}


@media  screen and (max-width: 600px){
    .footer-display {
       
      flex-direction: column;
        
    }
    .footer-right{
        width: 100%;
    }
    .footer-display .footer-left {
        width: 100%;
    }
    .footer-display .footer-right {
        width: 100%;
    }
}
    
