*{
    font-size: 17px;
    font-family: 'Poppins';
}

.hody{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(10, 5, 5, 0.7)), url("./pexels-jess-bailey-designs-1007025.jpg"); 
    margin: 0;
    padding: 0;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-attachment: fixed; 
}

@media screen and (max-width: 400px) {
    .hody{
        overflow-y: hidden;
    }
    
}
.real-container{
    margin: 20px;
}

.input-text{
    border-radius: 10px;
    outline: none;
    border:none;
    width: 300px;
    height: 28px;
}

.input-text1{
    border-radius: 10px;
    border: none;
    outline: none;
    width: 300px;
    height: 28px;
    
}
.input-text2{
    border-radius: 10px;
    border:none;
    outline:none;
    width: 300px;
    height: 28px;
    text-align: center;
}
.input-text3{
    border-radius: 10px;
    width:300px;
    outline:none;
    height: 28px;
    text-align: center;
    
}
.input-text4{
    border-radius: 10px;
    width: 300px;
    outline: none;
    height: 28px;
    text-align: center;
}

.mar-bot{
    margin-bottom: 20px; 
    margin-bottom: 30px;
}
.form{
    padding:50px;
    background-color: rgb(182, 138, 133);
    }

.actions{
        display: flex;
        gap :15em;
    }

.action{
        border-radius: 5px;
        cursor: pointer;
        height: 40px;
        width: 120px;
    }
    
.input-text5{
    margin-left: 115px;
    border-radius: 10px;
    width: 195px;
}    

 .form-error{
    color: rgb(92, 35, 35);
    
 }  
 .form-error1{
    margin-left: 56px;
    color:rgb(92, 35, 35); 
 } 
 .form-error2{
    margin-left: 35px;
    color:rgb(92, 35, 35); ;
 }
 .form-error3{
    margin-left: 8px;
    color:rgb(92, 35, 35);
 }
    

.input-field{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}

.input-label{
    display: flex;
    width: 100px;
}
.input-dropdown{
    display: flex;
    flex-direction: column;
}